In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv('trip_advisor.csv')

ta_df = df.copy()

# DATA CLEANING

In [6]:
ta_df.head()

,Review Title,Review Text,Date of Stay,Author Contribution,Rating
0,Must see in Singapore,A must not miss place for tourists to visit wh...,2024-03-01,73,5.0
1,Marina Bay world class,Amazing hotel and loved the facilities. Being ...,2024-03-01,1,5.0
2,Nice touch.,While the initial check in experience was not ...,2024-03-01,2,5.0
3,Amazing experience at MBS with superb hospital...,I booked the Sands Premiere Suite to celebrate...,2024-03-01,1,5.0
4,Incredibile,"Nina is amazing as all the team, I loved her h...",2024-03-01,2,5.0

In [7]:
ta_df.isnull().sum()

Review Title           0
Review Text            0
Date of Stay           0
Author Contribution    0
Rating                 0
dtype: int64

In [8]:
ta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11232 entries, 0 to 11231
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Review Title         11232 non-null  object
 1   Review Text          11232 non-null  object
 2   Date of Stay         11232 non-null  object
 3   Author Contribution  11232 non-null  object
 4   Rating               11232 non-null  float64
dtypes: float64(1), object(4)
memory usage: 438.9+ KB

In [15]:
ta_df['Rating'] = ta_df['Rating'].astype(int)
ta_df['Date of Stay'] = pd.to_datetime(ta_df['Date of Stay'],format='%m/%d/%y')

ta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11232 entries, 0 to 11231
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Review Title         11232 non-null  object
 1   Review Text          11232 non-null  object
 2   Date of Stay         0 non-null      datetime64[ns]
 3   Author Contribution  11232 non-null  object
 4   Rating               11232 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(3)
memory usage: 395.0+ KB